*{background-color: rgb(157, 153, 153);
color: rgb(0, 0, 0);
font-size: 35px;}
h1{background-color: antiquewhite;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 75px;
}
section{font-display: block;}